.items-page__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.items-page__container > *:not(.page-header) {
  margin: 24px;
}

.items-page__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

