.main-content-template {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.main-content-template--centered {
  margin: 0 auto;
}

