.gold-display {
  display: flex;
  align-items: center;
  gap: 4px;
  user-select: none;
}

.gold-display__value {
  font-size: var(--scoreboard-font-size);
  font-weight: bold;
  color: var(--gold-color);
  text-shadow: 0 0 3px #000;
}

.gold-display__icon {
  font-size: calc(var(--scoreboard-font-size)*1.4);
  color: var(--gold-color);
  margin-bottom: calc(var(--row-height)*0.1);
}
