.streak-badge {
  font-size: calc(var(--scoreboard-font-size)*1.2);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.streak-badge--win {
  color: var(--win-streak-color);
}

.streak-badge--loss {
  color: var(--lose-streak-color);
}

