.hero-portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  height: 56px;
  margin-top: 10px;
}

.hero-portrait__image {
  display: block;
}

.hero-portrait__stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.hero-portrait__star {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.8));
}

.hero-portrait__star:not(:first-child) {
  margin-left: -2px;
}

.hero-portrait__item-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 36px;
  height: 36px;
  object-fit: contain;
  z-index: 10;
  filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.8));
}

