.synergy-pip {
    position: relative;
    height: 100%;
    /* Width is calculated dynamically based on number of levels */
    /* Each level has aspect-ratio 26/128, so width = levels * (height * 26/128) */
}

.synergy-pip-level-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    aspect-ratio: 26 / 128;
}

